<div class="sidebar sidebar-left">
  <div class="widget main-nav">
    <ul class="menu">
      <li>
        <a href="/dashboard">
          <i class="fa fa-dashboard fa-fw"></i>
          <span class="menu-item-label">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-clipboard fa-fw"></i>
          <span class="menu-item-label">Pages</span>
          <i class="toggle-icon fa fa-angle-left"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-bar-chart-o fa-fw"></i>
          <span class="menu-item-label">Charts & Statistics</span>
          <i class="toggle-icon fa fa-angle-left"></i>
        </a>
      </li>
      <li>
        <a href="/ui-buttons">
          <i class="fa fa-list-alt fa-fw"></i>
          <span class="menu-item-label">Ui Elements</span>
          <i class="toggle-icon fa fa-angle-left"></i>
        </a>
      </li>
      <!--li>
      <a href="/"></a>
    </li>
    <li>
      <a href="/"></a>
    </li>
    <li>
      <a href="/"></a>
    </li>
    <li>
      <a href="/"></a>
    </li>
    <li>
      <a href="/"></a>
      </li-->
    </ul>


  </div>

  <!--div class="sidebar-content">
    <div class="widget sidebar-widget">
      <div class="widget-heading">
        <h5><i class="fa fa-lightbulb-o fa-fw"></i>Tips</h5>
      </div>
      <div class="widget-body">
        <p>You can do live search to the widget at search box located at
          top bar. It's very useful if your dashboard is full of
          widgets.</p>
      </div>
    </div>
    <div class="widget sidebar-widget server-info-widget">
      <div class="widget-heading">
        <h5><i class="fa fa-info-circle fa-fw"></i>Server Info</h5>
      </div>
      <ul class="list-unstyled list-info-sidebar">
        <li class="data-row">
          <span class="data-name">Disk Space Usage</span>
          <span class="data-value">274,43 / 2 GB
            <div class="progress progress-xs">
              <div class="progress-bar progress-bar-success" style="width: 10%"></div>
            </div>
          </span>
        </li>
        <li class="data-row">
          <span class="data-name">Memory Usage</span>
          <span class="data-value">3,37 / 8 GB
            <div class="progress progress-xs">
              <div class="progress-bar progress-bar-warning" style="width: 46%;"></div>
            </div>
          </span>
        </li>
        <li class="data-row">
          <span class="data-name">Database Disk Space</span>
          <span class="data-value">219.45 MB</span>
        </li>
        <li class="data-row">
          <span class="data-name">Operating System</span>
          <span class="data-value">Linux</span>
        </li>
        <li class="data-row">
          <span class="data-name">Architecture</span>
          <span class="data-value">x86_64</span>
        </li>
        <li class="data-row">
          <span class="data-name">Kernel Version</span>
          <span class="data-value">3.14.1</span>
        </li>
        <li class="data-row">
          <span class="data-name">Uptime</span>
          <span class="data-value">3d 4:38h</span>
        </li>
        <div class="data-row">
          <span class="data-name">Python Version</span>
          <span class="data-value">2.7.6</span>
        </div>
      </ul>
    </div>
  </div-->
</div>
