<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 logo">
      <a class="brand" href="/">Nobix theme</a>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-7">
          <div class="search-box">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Buscar clientes, proveedores o artículos">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search fa-fw"></i></button>
              </span>
            </div>
            <!--div style="height: 50px; display: flex; align-items: center;">
            <span style="font-size: 15px; color: #ccc;">Put search input box here!</span>
            </div-->
          </div>
        </div>
        <div class="col-md-5">
          <div class="notifications-bar">
            <button id="restart-tour" class="btn btn-link" type="button">
              <span class="glyphicon glyphicon-refresh"></span> Restart tour
            </button>
            <div class="notifications">
              <ul>
                <li class="notification-item inbox">
                  <div class="btn-group">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-envelope-o"></i><span class="count">2</span><span class="circle"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li class="notification-header">
                        <em>You have 2 unread messages</em>
                      </li>
                      <li class="inbox-item">
                        <a href="#">
                          <div class="media">
                            <div class="pull-left">
                              <img class="media-object" alt="Antonio" src="/static/img/generic-avatar-46.jpg">
                            </div>
                            <div class="media-body">
                              <h5 class="media-heading name">Antonius</h5>
                              <p class="text">The problem just happened this morning. I can't see ...</p>
                              <span class="timestamp">4 minutes ago</span>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="notification-item general">
                  <div class="btn-group">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-bell-o"></i><span class="count">8</span><span class="circle"></span> </a>
                    <ul class="dropdown-menu" role="menu">
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <div class="logged-user">
              <div class="btn-group">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img src="/static/img/generic-avatar-32.jpg" class="user-avatar"></a>
                <ul class="dropdown-menu" role="menu"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
