{% extends "page.html" %}

{% block page %}
<div class="page page-dashboard">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
    </div>
  </div>
  <div class="main-header">
    <h3>Dashboard</h3>
    <em>the first priority information</em>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="widget widget-mini-box">
        <span class="mini-box-icon bg-success">
          <i class="fa fa-rocket"></i>
        </span>
        <div class="mini-box-info">
          <p class="info-title">25 <span class="info-title-sub">%</span></p>
          <p class="text-muted">Growth</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget widget-mini-box">
        <span class="mini-box-icon bg-info">
          <i class="fa fa-users"></i>
        </span>
        <div class="mini-box-info">
          <p class="info-title">112</p>
          <p class="text-muted">New users</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget widget-mini-box">
        <span class="mini-box-icon bg-danger">
          <i class="fa fa-dollar"></i>
        </span>
        <div class="mini-box-info">
          <p class="info-title">4.550</p>
          <p class="text-muted">Profit</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget widget-mini-box">
        <span class="mini-box-icon bg-warning">
          <i class="fa fa-shopping-cart"></i>
        </span>
        <div class="mini-box-info">
          <p class="info-title">262</p>
          <p class="text-muted">Sales</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="widget">
        <div class="widget-header">
          <span class="widget-title">Flot Chart</span>
        </div>
        <div class="widget-body">
          <div id="chart" class="flot-chart"></div>
          <script type="text/javascript" charset="utf-8">
            require(['jquery', 'charts'], function($, flotchart) {
              $(document).ready(function() {
                flotchart();
              });
            });
          </script>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
{# vim:sw=2:ft=jinja
#}
