<!doctype html>
<html class="no-js" lang="es-ar">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="General Layout for Nobix theme">
    <meta name="author" content="Augusto Roccasalva [augusto@rocctech.com.ar]">
    <meta name="viewport" content="with=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <title>Nobix Theme</title>

    <link rel="stylesheet" href="/static/css/nobix.css" type="text/css">
    <script src="/static/js/app/vendor/modernizr.js"></script>
    <script src="/static/js/app/config.js"></script>
    <script src="/static/js/app/vendor/require.js" data-main="main"></script>
  </head>

  <body>
    <div class="wrapper">
      <div class="top-bar">{% block topbar %}{% endblock %}</div>
      <div class="main">{% block main %}{% endblock %}
      </div>
    </div>
    {% block footer %}{% endblock %}
  </body>
</html>

{# vim:sw=2:ft=jinja
#}
