{% extends "page.html" %}

{% block page %}
<div class="page page-tables">
  <div class="main-header">
    <h3>Tables</h3>
    <em>simple tables with several styles & lot of features and interactivity</em>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Basic Table</span></h3>
          <a class="detail" href="#" title="View more button">Ver más</a>
        </div>
        <div class="widget-body">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Steve</td>
                <td>Jobs</td>
                <td>@steve</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Simon</td>
                <td>Philips</td>
                <td>@simon</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Jane</td>
                <td>Doe</td>
                <td>@jane</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Striped Rows</span></h3>
        </div>
        <div class="widget-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Steve</td>
                <td>Jobs</td>
                <td>@steve</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Simon</td>
                <td>Philips</td>
                <td>@simon</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Jane</td>
                <td>Doe</td>
                <td>@jane</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Normal Table</span></h3>
        </div>
        <div class="widget-body">
          <p>Adds borders to any table row within <code>&lt;table&gt;</code> by
            adding the <code>.table-bordered</code> with the base class
          </p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Column Name</th>
                <th>Column Name</th>
                <th>Column Name</th>
                <th>Column Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Hover & Condensed Tables</span></h3>
        </div>
        <div class="widget-body">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Steve</td>
                <td>Jobs</td>
                <td>@steve</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Simon</td>
                <td>Philips</td>
                <td>@simon</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Jane</td>
                <td>Doe</td>
                <td>@jane</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>No Padding & Condensed Table</span></h3>
        </div>
        <div class="widget-body no-padding">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Steve</td>
                <td>Jobs</td>
                <td>@steve</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Simon</td>
                <td>Philips</td>
                <td>@simon</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Jane</td>
                <td>Doe</td>
                <td>@jane</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Product Table</span></h3>
        </div>
        <div class="widget-body">
          <p>Aquí va una tabla de productos</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
