{% extends "page.html" %}

{% block page %}
<div class="page page-tables">
  <div class="main-header">
    <h3>Tables</h3>
    <em>simple tables with several styles & lot of features and interactivity</em>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="widget">
        <div class="widget-header">
          <span class="widget-title">Basic Table</span>
          <a class="detail" href="#" title="View more button">Ver más</a>
        </div>
        <div class="widget-body">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Steve</td>
                <td>Jobs</td>
                <td>@steve</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Simon</td>
                <td>Philips</td>
                <td>@simon</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Jane</td>
                <td>Doe</td>
                <td>@jane</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="widget">
        <div class="widget-header">
          <span class="widget-title">Striped Rows</span>
        </div>
        <div class="widget-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Steve</td>
                <td>Jobs</td>
                <td>@steve</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Simon</td>
                <td>Philips</td>
                <td>@simon</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Jane</td>
                <td>Doe</td>
                <td>@jane</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-header">
          <span class="widget-title">Normal Table</span>
        </div>
        <div class="widget-body">
          <p>Adds borders to any table row within <code>&lt;table&gt;</code> by
            adding the <code>.table-bordered</code> with the base class
          </p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Column Name</th>
                <th>Column Name</th>
                <th>Column Name</th>
                <th>Column Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
              <tr>
                <td>Row 1</td>
                <td>Row 2</td>
                <td>Row 3</td>
                <td>Row 4</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="widget">
        <div class="widget-header">
          <span class="widget-title">Hover & Condensed Tables</span>
        </div>
        <div class="widget-body">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Steve</td>
                <td>Jobs</td>
                <td>@steve</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Simon</td>
                <td>Philips</td>
                <td>@simon</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Jane</td>
                <td>Doe</td>
                <td>@jane</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="widget">
        <div class="widget-header">
          <span class="widget-title">No Padding & Condensed Table</span>
        </div>
        <div class="widget-body no-padding">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Steve</td>
                <td>Jobs</td>
                <td>@steve</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Simon</td>
                <td>Philips</td>
                <td>@simon</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Jane</td>
                <td>Doe</td>
                <td>@jane</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <div class="widget-header">
          <span class="widget-title">Product Table</span>
        </div>
        <div class="widget-body">
          <table class="table table-nbx">
            <colgroup>
              <col class="col-active-indicator">
              <col class="col-checkbox">
              <col class="col-sku">
              <col class="col-description">
              <col class="col-date">
              <col class="col-price">
            </colgroup>
            <thead>
              <tr>
                <th class="header-active-indicator"></th>
                <th class="header-checkbox">
                  <div class="control-checkbox">
                    <div class="control-checkbox-checkmark"></div>
                  </div>
                </th>
                <th class="header-sku header-sorted"> <span class="header-label">Código</span> </th>
                <th class="header-description"><span class="header-label">Descripción</span></th>
                <th class="header-date"><span class="header-label">Modificado</span></th>
                <th class="header-price"><span class="header-label">Precio</span></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="cell-active"></td>
                <td class="cell-checkbox">
                  <div class="control-checkbox">
                    <div class="control-checkbox-checkmark"></div>
                  </div>
                </td>
                <td class="cell-sku">
                  <a class="link-product-sku" href="#products/1"><span class="product-sku cell-label-container">20120</span></a>
                </td>
                <td class="cell-description">
                  <a class="link-product-description" href="#products/1"><span class="product-description cell-label-container">CODO 90° HH Ø20 GEN FUSION</span></a>
                </td>
                <td class="cell-date"></td>
                <td class="cell-price"><span class="product-price cell-label-contianer">1,90</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
