{% extends "page.html" %}
{% block page %}
<div class="page page-ui-buttons">
  <div class="main-header">
    <h3>Buttons & Icons</h3>
    <em>general buttons with various style and icon collections</em>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Basic</span></h3>
          <a class="detail" href="#" title="View more button">View more</a>
        </div>
        <div class="widget-body">
          <p>
            <button class="btn btn-default" type="button">Default</button>
            <button class="btn btn-primary" type="button">Primary</button>
            <button class="btn btn-info" type="button">Info</button>
            <button class="btn btn-success" type="button">Success</button>
            <button class="btn btn-warning" type="button">Warning</button>
          </p>
          <p>
            <button class="btn btn-custom-primary" type="button">Custom Primary</button>
            <button class="btn btn-custom-secondary" type="button">Custom Secondary</button>
            <button class="btn btn-danger" type="button">Danger</button>
            <button class="btn btn-link" type="button">Link</button>
          </p>
          <p>
            <a class="btn btn-lg btn-primary" href="#"><i class="fa fa-download fa-3x pull-left"></i>Download The Guide<br><small>Version 2.0</small></a>
          </p>
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Button size</span></h3>
          <a class="detail" href="#" title="View more button sizes">View more</a>
        </div>
        <div class="widget-body">
          <button class="btn btn-default btn-lg" type="button">Large Size</button>
          <button class="btn btn-primary" type="button">Default Size</button>
          <button class="btn btn-info btn-sm" type="button">Small Size</button>
          <button class="btn btn-success btn-xs" type="button">Extra Small Size</button>
          <hr class="inner-separator">
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-primary btn-block" type="button">Button Block</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-warning btn-block" type="button">Button Block</button>
            </div>
          </div>
          <hr class="inner-separator">
          <button class="btn btn-danger btn-block" type="button">Button Block</button>
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Button Groups</span></h3>
        </div>
        <div class="widget-body">
          <div class="btn-group">
            <button class="btn btn-success" type="button">Left</button>
            <button class="btn btn-warning" type="button">Middle</button>
            <button class="btn btn-danger" type="button">Right</button>
          </div>
          <div class="btn-group">
            <a class="btn btn-default" href="#"><i class="fa fa-align-left"></i></a>
            <a class="btn btn-default" href="#"><i class="fa fa-align-center"></i></a>
            <a class="btn btn-default" href="#"><i class="fa fa-align-right"></i></a>
            <a class="btn btn-default" href="#"><i class="fa fa-align-justify"></i></a>
          </div>
          <br><br>
          <div class="btn-group">
            <button class="btn btn-primary" type="button">Button 1</button>
            <button class="btn btn-primary" type="button">Button 2</button>
            <div class="btn-group">
              <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
                Others
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
              </ul>
            </div>
          </div>
          <br>
          <br>
          <div class="btn-group btn-group-lg">
            <button class="btn btn-success" type="button">Left</button>
            <button class="btn btn-warning" type="button">Middle</button>
            <button class="btn btn-danger" type="button">Right</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-success" type="button">Left</button>
            <button class="btn btn-warning" type="button">Middle</button>
            <button class="btn btn-danger" type="button">Right</button>
          </div>
          <br><br>
          <div class="btn-group group-sm">
            <button class="btn btn-success" type="button">Left</button>
            <button class="btn btn-warning" type="button">Middle</button>
            <button class="btn btn-danger" type="button">Right</button>
          </div>
          <div class="btn-group group-xs">
            <button class="btn btn-success" type="button">Left</button>
            <button class="btn btn-warning" type="button">Middle</button>
            <button class="btn btn-danger" type="button">Right</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Text body test</span></h3>
        </div>
        <div class="widget-body">
          <p>No hay razón para buscar el sufrimiento, pero si éste llega y
            trata de meterse en tu vida, no temas... míralo a la cara y con
            la frente bien levantada.</p>
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Icon Buttons</span></h3>
        </div>
        <div class="widget-body">
          <p>
            <button class="btn btn-default" type="button">
              <i class="fa fa-plus-square"></i>Default
            </button>
            <button class="btn btn-primary" type="button">
              <i class="fa fa-refresh"></i>Primary
            </button>
            <button class="btn btn-info" type="button">
              <i class="fa fa-info-circle"></i>Info
            </button>
            <button class="btn btn-primary" disabled="disabled" type="button">
              <i class="fa fa-refresh fa-spin"></i>Refreshing...
            </button>
          </p>
          <p>
            <button class="btn btn-success" type="button">
              <i class="fa fa-check-circle"></i>Success
            </button>
            <button class="btn btn-warning" type="button">
              <i class="fa fa-warning"></i>Warning
            </button>
            <button class="btn btn-danger" type="button">
              <i class="fa fa-trash-o"></i>Danger
            </button>
            <button class="btn btn-primary" disabled="disabled" type="button">
              <i class="fa fa-spinner fa-spin"></i>Loading...
            </button>
          </p>
          <p class="alert alert-info">
            <i class="fa fa-info-circle"></i>
            CSS3 animations aren't supported in IE8 - IE9.
          </p>
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Disabled Buttons</span></h3>
        </div>
        <div class="widget-body">
          <button class="btn btn-default" disabled="disabled" type="button">Default</button>
          <button class="btn btn-primary" disabled="disabled" type="button">Primary</button>
          <button class="btn btn-info" disabled="disabled" type="button">Info</button>
          <button class="btn btn-success" disabled="disabled" type="button">Success</button>
          <button class="btn btn-warning" disabled="disabled" type="button">Warning</button>
          <button class="btn btn-danger" disabled="disabled" type="button">Danger</button>
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <h3><span>Button Dropdown</span></h3>
        </div>
        <div class="widget-body">
          <div class="btn-group">
            <button class="btn btn-default btnlg dropdown-toggle" data-toggle="dropdown" type="button">
              Default
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">Dropdown Header</li>
              <li><a href="#">Action</a></li>
              <li class="disabled"><a href="#">Disabled link</a></li>
              <li><a href="#">something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Dropdown Header</li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" type="button">
              Primary
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"></ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
              Info
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"></ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" type="button">
              Success
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"></ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown" type="button">
              Warning
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"></ul>
          </div>
          <hr class="inner-separator">
          <div class="btn-group">
            <button class="btn btn-default btn-lg" type="button">Default</button>
            <button class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" type="button">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"></ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-primary btn-md" type="button">Primary</button>
            <button class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" type="button">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"></ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-info btn-sm" type="button">Info</button>
            <button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"></ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-success btn-xs" type="button">Success</button>
            <button class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" type="button">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu"></ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
