{% extends "page.html" %}

{% block page %}
<div class="page page-widgets">
  <div class="main-header">
    <h3>Widgets</h3>
    <em>common container for most viewable elements</em>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="widget">
        <div class="widget-body">
          Widget body content
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">Simple Header</span>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">With tabs</span>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>

      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">With progress bar</span>
          <div class="widget-header-controls">
            <div class="progress" style="width: 160px">
              <div class="progress-bar progress-bar-danger" style="width: 60%"></div>
            </div>
          </div>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">With pagination</span>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
    </div>

    <div class="col-md-6">      
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">
            <i class="fa fa-flask"></i>
            With Icon</span>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>

      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">With buttons</span>
          <div class="widget-header-controls">
            <button class="btn btn-xs btn-primary">Button Action</button>
            <button class="btn btn-xs btn-default">Default Button</button>
            <div class="btn-group">
              <button class="btn btn-xs btn-default"><i class="fa fa-repeat"></i></button>
              <button class="btn btn-xs btn-default"><i class="fa fa-compress"></i></button>
              <button class="btn btn-xs btn-default"><i class="fa fa-times"></i></button>
            </div>
          </div>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">With label & badges</span>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">With icon</span>
          <div class="widget-header-controls">
            <div class="widget-header-icon">
              <i class="fa fa-inbox"></i>
            </div>
          </div>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
    </div>
  </div>

  <div class="main-header">
    <h3>Box Widgets</h3>
    <em>special container for summary elements</em>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="widget widget-box">
        <div class="widget-left widget-item bg-danger">
          <i class="fa fa-user fa-5x"></i>
        </div>
        <div class="widget-right widget-item bg-reverse">
          <p class="info-title">231</p>
          <p class="text-muted">New Users</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="widget widget-box">
            <div class="widget-top bg-facebook">
              <div class="divider divider"></div>
              <i class="fa fa-facebook fa-4x"></i>
              <div class="divider divider"></div>
            </div>
            <div class="widget-bottom bg-reverse">
              <ul class="list-justified text-center">
                <li>
                  <p class="info-title">575</p>
                  <p class="text-muted">Followers</p>
                </li>
                <li>
                  <p class="info-title">23</p>
                  <p class="text-muted">Following</p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="widget widget-box">
            <div class="widget-top bg-twitter">
              <div class="divider divider"></div>
              <i class="fa fa-twitter fa-4x"></i>
              <div class="divider divider"></div>
            </div>
            <div class="widget-bottom bg-reverse">
              <ul class="list-justified text-center">
                <li>
                  <p class="info-title">575</p>
                  <p class="text-muted">Followers</p>
                </li>
                <li>
                  <p class="info-title">23</p>
                  <p class="text-muted">Following</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="widget widget-box">
            <div class="widget-top bg-info">
              <i class="fa fa-comments-o fa-4x"></i>
            </div>
            <div class="widget-bottom bg-reverse">
              <p class="info-title">56</p>
              <p class="text-muted">New Messages</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="widget widget-box">
            <div class="widget-top bg-success">
              <i class="fa fa-shopping-cart fa-4x"></i>
            </div>
            <div class="widget-bottom bg-reverse">
              <p class="info-title">369</p>
              <p class="text-muted">Sales</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="widget widget-mini-box">
            <div class="mini-box-icon bg-info"><i class="fa fa-info"></i></div>
            <div class="mini-box-info">
              <p class="info-title">Mini<span class="info-title-sub">Box</span></p>
              <p class="text-muted">Widget</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="main-header">
    <h3>Box Widgets</h3>
    <em>special container for summary elements</em>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">Contact Information</span>
        </div>
        <div class="widget-body">
          <div class="body-section">
            <span class="body-section-title">Personal</span>
            <div class="info-horizontal">
              <div class="info-row">
                <span class="info-label">Teléfono</span>
                <span class="info-data">011345690</span>
              </div>
              <div class="info-row">
                <span class="info-label">Celular</span>
                <span class="info-data">261569384</span>
              </div>
              <div class="info-row">
                <span class="info-label">ID Radio</span>
                <span class="info-data">456*434</span>
              </div>
              <div class="info-row">
                <span class="info-label">Correo</span>
                <span class="info-data">jon@doe.com</span>
              </div>
              <div class="info-row">
                <span class="info-label">Dirección</span>
                <span class="info-data">Street 123, Avenue 45, Country</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
