{% extends "page.html" %}

{% block page %}
<div class="page page-widgets">
  <div class="row">
    <div class="col-md-6">
      <div class="widget">
        <div class="widget-body">
          Widget body content
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">Simple Header</span>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">With tabs</span>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>

      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">With progress bar</span>
          <div class="widget-header-controls">
            <div class="progress" style="width: 160px">
              <div class="progress-bar progress-bar-danger" style="width: 60%"></div>
            </div>
          </div>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">With pagination</span>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
    </div>

    <div class="col-md-6">      
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">
            <i class="fa fa-flask"></i>
            With Icon</span>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">With buttons</span>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
      <div class="widget widget-default">
        <div class="widget-header">
          <span class="widget-title">With label & badges</span>
        </div>
        <div class="widget-body">
          Widget body content
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
