/*
 * Overwrite styles
 */

body {
  color: $body-color;
  background-color: $body-bg;
  font-family: $font-family;
  font-size: $font-size;
}

h1, h2 {
  font-family: "Lato";
}

.btn {
  span.glyphicon {
    margin-right: 2px;
    top: 2px;
  }
}

.progress {
  background-color: #e2e2e2;
  border-radius: 0;
  box-shadow: none;

  .progress-bar {
    transition-duration: 3s;
    transition-property: width;
    transition-timing-function: ease;
  }
}

@mixin custom-bg-variant($bg-color, $font-color) {
  background-color: $bg-color;
  color: $font-color;
}

.bg-primary       { @include custom-bg-variant($primary-bg, $white); }
.bg-primary-ligtn { @include custom-bg-variant($primary-light-bg, $white); }
.bg-success       { @include custom-bg-variant($success-bg, $white); }
.bg-info          { @include custom-bg-variant($info-bg, $white); }
.bg-warning       { @include custom-bg-variant($warning-bg, $white); }
.bg-danger        { @include custom-bg-variant($danger-bg, $white); }
.bg-orange        { @include custom-bg-variant($orange-bg, $white); }
.bg-violet        { @include custom-bg-variant($violet-bg, $white); }
.bg-dark          { @include custom-bg-variant($dark-bg, $white); }
.bg-bright        { @include custom-bg-variant($bright-bg, $body-color-2); }
.bg-reverse       { @include custom-bg-variant($white, $body-color-2); }
.bg-facebook      { @include custom-bg-variant($facebook-bg, $white); }
.bg-twitter       { @include custom-bg-variant($twitter-bg, $white); }
.bg-google-plus   { @include custom-bg-variant($google-plus-bg, $white); }

// Cut here

.left-sidebar {
  padding-right: 0;
  padding-left: 0;
  border-right: 1px solid $main-menu-item-border;
}

ul.main-menu {
  list-style-type: none;
  padding-left: 0;

  & > li {

    &:first-child > a {
      border-top: none;
    }

    &:last-child > a {
      border-bottom: 1px solid $main-menu-item-border;
    }

    a {
      display: block;
      padding: 10px 0 10px 15px;
      position: relative;
      border-top: 1px solid $main-menu-item-border;
      background-color: $main-menu-item-bg;
      color: $main-menu-item-color;

      &:hover, &:active, &:focus { text-decoration: none; }
      &:hover { background-color: $body-bg; }
    }

    .toggle-icon {
      font-size: 14px;
      right: 10px;
      top: 13px;
      width: 10px;
      position: absolute;
    }

    &.active {
      a {
        background-color: $main-menu-item-border;
        font-weight: 700;
      }
    }
  }
}

.sidebar-content {
  margin-top: 15px;
  padding: 0 10px;

  .widget {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;

    .widget-heading {
      background-color: #f5f5f5;
      color: #333;
      border-bottom: 1px solid #ddd;
      padding: 10px 15px;
      h5 {
        font-weight: 400;
        font-size: 13px;
        margin: 0;
      }
    }

    .widget-body {
      padding: 15px;
      font-size: 0.85em;
      font-family: Arial,sans-serif;
    }
  }

  .server-info-widget {
    .widget-heading {
      background-color: #ddd;
    }

    ul {
      @include container-fixed();
      margin-bottom: 0;
      li {
        font-size: 12px;
        margin-bottom: 0;
      }
    }
    
    .data-row {
      @include make-row();
      margin-bottom: 0;
      .data-name {
        font-size: 0.9em;
        color: #b9b9b9;
        vertical-align: top;
        //width: 10em;
      }
      .data-value {
        padding-left: 10px;
        vertical-align: middle;
      }
      .data-name, .data-value {
        @include make-md-column(6);
        display: inline-block;
        padding: 5px;
      }
    }

    .progress {
      margin-bottom: 0;
    }

    .progress-xs {
      height: 5px;
    }
  }
}


// Main content

.page {
  padding: 15px;

  .main-header {
    margin-bottom: 15px;
    h3 {
      font-family: OpenSans;
      font-weight: 100;
      border-right: 1px solid #ccc;
      display: inline-block;
      padding-right: 10px;
      vertical-align: middle;
      margin: 0 10px 0;
      text-transform: uppercase;
    }
    em {
      color: #bbb;
    }
  }

  // Widgets
  .widget {
    background-color: $widget-bg;
    border-color: $widget-border-color;
    border-radius: $widget-border-radius;
    border-style: $widget-border-style;
    border-width: 1px 1px 2px;
    padding: $widget-padding;
  }

  .widget-mini-box {
    font-family: Lato;
    font-size: 14px;
    min-height: 105px;
    color: #767676;

    .mini-box-icon {
      border-radius: 50%;
      display: block;
      font-size: 35px;
      line-height: 65px;
      height: 65px;
      width: 65px;
      margin: 0 10px 10px 0;
      text-align: center;
      vertical-align: middle;
      float: left;
    }

    .info-title {
      font-size: $font-size-h2;
      span {
        font-size: $font-size-h4;
      }
    }

    p { margin: 0; }
  }
}


